@import url("./assets/css/grid.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;

    html {
      scrollbar-width: thin;
      scrollbar-color: #4a90e2 #f1f1f1;
    }

    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: linear-gradient(180deg, #4a90e2, #9013fe);
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(180deg, #357abd, #7b0fea);
    }
  }
  body {
    @apply bg-background text-foreground;
  }
}
